# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

cameraStreamer/.idea
cameraStreamer/.ionic
cameraStreamer/.sass-cache
cameraStreamer/.sourcemaps
cameraStreamer/.versions
cameraStreamer/.vscode
cameraStreamer/coverage
cameraStreamer/dist
cameraStreamer/node_modules
cameraStreamer/platforms
cameraStreamer/plugins
cameraStreamer/www
